<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员管理页</title>
    <script src="/js/home/header_model_js.js"></script>
    <link rel="icon" href="/img/page_icon.png"/>
    <link href="/css/home_page/header_and_nav.css" rel="stylesheet"/>
</head>
<body>
<header class="copy" th:fragment="copy">
    <span class="short_nav"></span>
    <div class="home_icon">
        <a href="/" style="text-decoration: none;color: white">武科大二手交易网</a>
    </div>
    <input type="text" placeholder="Search" name="search" class="nav_search_input"/>
    <span class="search_icon"></span>
    <span class="user_icon"></span>
    <span class="login_or_register_string">
        <a  class="user_name_a" th:text="${adminInformation.getAno()}"  id="user_name_a"></a>
    </span>
</header>
<div class="short_nav_show" th:fragment="short_nav_show" style="display: block;top: 3%;height: 23%">
    <ul>
        <li><a href="/admin_logout.do">安全退出</a></li>
        <li><a href="/admin_user_manage">用户管理</a></li>
        <li><a href="/admin_shop_manage">商品管理</a></li>
    </ul>
</div>
</body>
</html>